<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raywenderlich.podplay">

    <!-- A permission is required to use the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- This permission is necessary for apps newer  than API 28 to run
    as a foreground service -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PodPlay"
        android:usesCleartextTraffic="true">
        <!-- Allow the app to use URLs that starts with HTTP.
             By default, it's allowed to use only HTTPS -->

        <activity
            android:name=".ui.PodcastActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Podplay.NoActionBar"
            android:exported="true">
            <!-- It's not necessary to create another activity if this is already on top -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Makes the activity searchable -->
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <service android:name=".service.PodplayMediaService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
        <!-- action android:name="android.media.browse.MeidaBrowserService" / -->

        <!-- For APIs before 21, it's necessary a built-in broadcast receiver to get button events
         from the notification -->
        <receiver android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>